<div>
    <h2>EDIT CONTACT {{contact.id}}</h2>
    <div>
      <div >
        <label for="firstname">Firstname: </label>
        <input type="text" id="firstname" [(ngModel)]="contact.firstName">
      </div>
      <div >
        <label for="lastname">Lastname: </label>
        <input type="text" id="lastname" [(ngModel)]="contact.lastName">
      </div>
      <div >
        <label for="mail">Mail: </label>
        <input type="text" id="mail" [(ngModel)]="contact.mail">
      </div>
      <div >
        <label for="phone">Phone: </label>
        <input type="text" id="phone" [(ngModel)]="contact.phone">
      </div>
      <div >
        <label for="address">Address: </label>
        <input type="text" id="address" [(ngModel)]="contact.address">
      </div>
    </div>
    <div>
      <button >SAVE</button>
      <button (click)="back();">BACK</button>
    </div>
  </div>